#profile_pic
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 300px;
    top: 10px;
}

#summary
{
    position: absolute;
    left: 0;
    width: 200px;
}


#content
{
    position: absolute;
}

#project
{
    width: 500px;
}