#profile_pic
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    left: 600px;
    top: 0px;
    
}

#summary
{
    width: 250px; 
    justify-content: center;
}

#project
{
    width: 500px;
}
 

#content
{
    position: absolute;
}

#part1
{
    padding-left: 300px;
}

